//COLORES
$color-primario: rgb(255,220,0);
$color-primario-suave: rgba(255,220,0,.8);
$color-boton-submit: rgba(242, 239, 53, .5);


/* $color-background-1: rgba(164,57,49, .5); //con el color 2 primero al 80% y dsp al 100%
$color-background-2: rgba(29,67,80, .2); */

$color-background-1: rgba(190,88,105, .5); //con el color 2 primero al 80% y dsp al 100%
$color-background-2: rgba(64,58,62,.2);

/* $color-background-1: rgba(216, 94, 153, 0.5);
$color-background-2: rgba(105, 17, 60, 0.5);
$color-background-3: rgba(22, 8, 48, 0.5); */

/* $color-background-1: rgba(61,153,112, 0.6);
$color-background-2: rgba(27, 68, 50, 0.6);
$color-background-3: rgba(67, 94, 17, 0.3); */

$color-shadow: rgba(0, 0, 0, .4);
$color-fondo-dropdown: rgb(24, 24, 24);

$color-peliculas-box-background: rgba(0, 0, 0, .3);